 {% load staticfiles %}
 
 <!DOCTYPE html>
<html>
  <head>

    <style>
.paddingTB60 {padding:60px 0px 60px 0px;}
.gray-bg {background: #F1F1F1 !important;     height: 100%;}
.about-title h1 {color: #535353; font-size:45px;font-weight:600;}
.about-title span {color: #AF0808; font-size:45px;font-weight:700;}
.about-title h3 {color: #535353; font-size:23px;margin-bottom:24px;}
.about-title p {color: #7a7a7a;line-height: 1.8;margin: 0 0 15px;}
.about-paddingB {padding-bottom: 12px;}
.about-img {padding-left: 57px;}

/* Social Icons */
.about-icons {margin:48px 0px 48px 0px ;}
.about-icons i{margin-right: 10px;padding: 0px; font-size:35px;color:#323232;box-shadow: 0 0 3px rgba(0, 0, 0, .2);}
.about-icons li {margin:0px;padding:0;display:inline-block;}
#social-fb:hover {color: #3B5998;transition:all .001s;}
 #social-ig:hover {color: #3f729b;transition:all .001s;}

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Riga street guesser</title>
    
    <link rel="stylesheet" href="{% static 'css.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


    </script>
  </head>

 

  <body style="overflow: hidden">

    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #333;    border: none;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img id="rigaLogo" src="https://i.ibb.co/W0QmNZs/rigaLogo.png" alt="rigaLogo" style="height: 3vh; width:auto;"></a>        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="/events">Events</a></li>
            <li class=""><a href="/meme">Meme</a></li>
            <li class=""><a href="/weather">Weather</a></li>
            <li class="dropdown "><a href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button">Games <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
                  <li role="presentation"><a href="/timet" role="menuitem">Time Trial</a></li>
                  <li role="presentation"><a href="/freegame" role="menuitem">Free Game</a></li>
               
              </ul>
          </li>
          </ul>


          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="/about">About</a></li>
            <li class=""><a href="/contact">Contact Us</a></li>
          </ul>
          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
              
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="about-section paddingTB60 gray-bg">
                    <div class="container">
                        <div class="row">
                <div class="col-md-7 col-sm-6">
                  <div class="about-title clearfix">
                    <h1>About <span>Riga Street Guesser</span></h1>
                    <h3>Get to know Riga</h3>
                    <p class="about-paddingB">Nothing much, jsut a website for internship porpuses</p>
                    <p>I have no idea what to write here!</p>
                <div class="about-icons"> 
                                <ul >
                                    <li><a href="https://www.facebook.com/petrovskisedijs"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                                    <li><a href="https://www.instagram.com/edijspe/"><i id="social-ig" class="fa fa-instagram" aria-hidden="true"></i></a> </li>
                                </ul>       
                   
                   
                 
                 
              
              </div>
                  </div>
                </div>
                <div class="col-md-5 col-sm-6">
                  <div class="about-img">
                    <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
                  </div>
                </div>	
                        </div>
                    </div>
                </div>
       
</html>